.container {
    margin-left: 120px;
    margin-right: 120px; /* Отступы по 20px с каждой стороны */
    width: calc(100% - 240px); /* Учитываем отступы при вычислении ширины */
    height: auto; /* Чтобы изображение масштабировалось пропорционально */
}

.img {
    max-width: 100%;
    height: auto;
}