.container {
    margin-left: 120px;
    margin-right: 120px;
    width: calc(100% - 240px); 
    background-size: cover;
    background-image: url("/home.png");
}

.img {
    width: 100%;
    height: auto;
    visibility: hidden;
}