@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap');
.previewLabel{
    font-size: 40px;
    color: white;
    font-family: 'Epilogue';
    font-weight: 600;
}
.card{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #222222;
    width: 370px;

    border-radius: 7px;
    padding: 40px;
    justify-content: center;
    align-items: center;
}
.container{
    justify-content: center;
    align-items: center;
    min-height: 410.4px;
}
.img{
    width: 100%;
    height: auto;
}
.nameLabel{
    display: block;
    font-size: 18px;
    color: white;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    width: 370px;
    overflow: hidden;
}
.symbolLabel{
    display: block;
    font-size: 18px;
    width: 370px;
    overflow: hidden;
    color: #ADADAD;
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    margin-top: 10px;
}