
minterplace_program/.anchor
minterplace_program/.DS_Store
minterplace_program/target
minterplace_program/**/*.rs.bk
minterplace_program/node_modules
minterplace_program/test-ledger
minterplace_program/.yarn
minterplace_program/package-lock.json
minterplace_program/yarn.lock

minterplace_client/package-lock.json
minterplace_client/yarn.lock

minterplace_client/logs
minterplace_client/*.log
minterplace_client/npm-debug.log*
minterplace_client/yarn-debug.log*
minterplace_client/yarn-error.log*
minterplace_client/pnpm-debug.log*
minterplace_client/lerna-debug.log*

minterplace_client/node_modules
minterplace_client/dist
minterplace_client/dist-ssr
minterplace_client/*.local

# Editor directories and files
minterplace_client/.vscode/*
minterplace_client/!.vscode/extensions.json
minterplace_client/.idea
minterplace_client/.DS_Store
minterplace_client/*.suo
minterplace_client/*.ntvs*
minterplace_client/*.njsproj
minterplace_client/*.sln
minterplace_client/*.sw?

